<h2>Devices</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <span class="search">Search:</span>
            <input ng-model="query">
        </div>
        <div class="col-md-6">
            <span class="sort">Sort by:</span>
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="status">In/Out</option>
            </select>
        </div>
    </div>
</div>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h4 class="colTitle">Name</h4>
        </div>
        <div class="col-md-2">
            <h4 class="colTitle">Platform</h4>
        </div>
        <div class="col-md-2">
            <h4 class="colTitle">OS</h4>
        </div>
        <div class="col-md-2">
            <h4 class="colTitle">Status</h4>
        </div>
        <div class="col-md-1">
            <h4 class="colTitle">Select</h4>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <ul class="deviceList" ng-repeat="device in devices | filter:query | orderBy:orderProp">
                <li class="deviceItem">
                    <div class="col-md-5">
                        <span id="itemName" ng-model="device">{{ device.name }}</span>
                    </div>
                    <div class="col-md-2">
                        <span id="itemPlatform" ng-model="device">{{ device.platform }}</span>
                    </div>
                    <div class="col-md-2">
                        <span id="itemOS" ng-model="device">{{ device.os }}</span>
                    </div>
                    <div class="col-md-2">
                        <span id="itemStatus" ng-model="device">{{ device.currStatus }}</span>
                    </div>
                    <div class="col-md-1">
                        <input id="itemChecked" type="checkbox">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
      <button class="btn submit">Sign Out</button>
    </div>
</div>

<br>
